// css overlay show hide styles
.overlay {
  position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  // padding: 3rem 5%;
  background-color: white;
  height: 100%;
  z-index: 100;
	opacity: 0;
	overflow: scroll;
  transition: opacity .5s ease-in-out;
  pointer-events: none;
}

.overlay:target {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: opacity .5s ease-in-out;
}

// styles for overlay content
section.overlay {
  text-align: center;
  margin-bottom: 8rem;
  h1 {
    margin-bottom: 2rem;
    line-height: 3rem;
    font-size: 2rem;
  }
  p {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 300;
  }
  article {
    // height: 100%;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
  }
}

.project-links {
  margin-top: 2rem;
  a {
    margin-left: 1rem;
  }
}

article.color-01, article.color-02, article.color-05, article.color-06 {
  color: white;
  outline: 2px solid rgba(255,255,255,0.25);
  outline-offset: -1.25rem;
}

article.color-03, article.color-04 {
  outline: 2px solid rgba(37,48,49,0.25);
  outline-offset: -1.25rem;
}

.color-06 ul {
  text-align: left;
  list-style-type: circle;
  margin: 1.5rem 4rem 0 4rem;
  font-size: 1rem;
}

.color-06 ul li {
  margin-bottom: 0.5rem;
}

.overlay aside {
  margin: 0 3rem 2rem 3rem;
}

a.hide-btn{
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.scroll {
  text-align: center;
  margin-top: 2rem;
  i {
    font-size: 4rem;
    padding: 0;
    opacity: 0.5;
  }
}

figure {
  margin-bottom: 2.5rem;
}

figcaption {
  font-size: 0.8rem;
  color: $light_grey;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  section.overlay {
    h1 {
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.25rem;
    }
    article {
      height: 100vh;
      padding: 6rem 4rem;
      margin-bottom: 4rem;
    }
  }

  section:last-of-type {
    article {
      height: auto;
    }
  }

  .project-links {
    margin-top: 3rem;
  }

  .col-sm-8, .col-sm-4 {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  section.overlay {
    h1 {
      font-size: 2.5rem;
    }
    article {
      padding: 6rem 8rem;
    }
  }

  .overlay aside {
    margin: 0 4rem;
  }
}
