// @import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Source+Code+Pro|Inconsolata|Lato|Lora|Palanquin+Dark|Quattrocento+Sans|Source+Code+Pro|Yantramanav);
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

/* site colors */
$red: #D64550;
$orange: #EA9078;
$yellow: #E8C060;
$green: #65C3AD;
$blue: #628395;
$purple: #B47EB3;
$dark_grey: #253031;
$light_grey: #919098;

$colors-list: $purple $blue $green $yellow $orange  $red;

/* fonts */
// $monospace: 'Source Code Pro', helvetica, sans-serif;
// $serif: 'Lora', 'Libre Baskerville', Georgia, serif;
$sans: 'Poppins', helvetica, sans-serif;
// $monospace-alt: 'Inconsolata';

/* measurements */
$base_font_size: 16px;
